<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.todo.mapper.TodoMapper">
  <resultMap id="TodoResultMap" type="com.todo.todo.entity.Todo">
    <id property="id" column="id"/>
    <result property="projectId" column="project_id"/>
    <result property="title" column="title"/>
    <result property="description" column="description"/>
    <result property="todoCategory" column="todo_category" javaType="com.todo.todo.type.TodoCategory"/>
    <result property="isCompleted" column="is_completed"/>
    <result property="isPriority" column="is_priority"/>
    <result property="version" column="version"/>
    <result property="dueDate" column="due_date"/>
    <result property="createdAt" column="created_at"/>

    <association property="author" javaType="com.todo.user.entity.User" column="author_id">
      <id property="id" column="author_id"/>
    </association>
  </resultMap>
  <select id="filterTodos" parameterType="com.todo.todo.dto.TodoFilterRequestDto" resultMap="TodoResultMap">
    SELECT
    t.id,
    t.project_id,
    t.title,
    t.description,
    t.todo_category,
    t.is_completed,
    t.is_priority,
    t.version,
    t.due_date,
    t.created_at,
    u.id as author_id
    FROM todos t
    LEFT JOIN users u ON t.author_id = u.id
    <where>
      AND t.author_id = #{authorId}
      <if test="projectId != null">
        AND t.project_id = #{projectId}
      </if>
      <if test="todoCategory != null">
        AND t.todo_category = #{todoCategory}
      </if>
      <if test="isPriority != null">
        AND t.is_priority = #{isPriority}
      </if>
      <if test="isCompleted != null">
        AND t.is_completed = #{isCompleted}
      </if>
    </where>
  </select>

  <select id="searchTodosAndProjects" resultType="com.todo.search.dto.SearchResponseDto">
    SELECT t.id, t.title AS name, 'TODO' AS TYPE, t.is_completed
    FROM todos t
    WHERE t.title LIKE CONCAT('%', #{keyword}, '%')
    UNION
    SELECT p.id, p.name AS name, 'PROJECT' AS TYPE, NULL AS is_completed
    FROM projects p
    LEFT JOIN collaborators c ON c.project_id = p.id
    WHERE p.name LIKE CONCAT('%', #{keyword}, '%')
    AND (p.owner_id = #{userId} OR (c.collaborator_id = #{userId} AND c.confirm_type = 'TRUE'))
  </select>
</mapper>